body {
    background-color: #c57a5afe;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

#header h1 {
    color: blue;
}

#header blockquote {
    background-color: yellow;
}

.menu ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.gambar {
    text-align: center;
}

.bigger {
    font-size: 20px;
}

.fp::first-letter {
    font-size: 50px;
    color: blue;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    width: 20%;
}
.gambar_br {
    height: 367px;
    width: 400px;
  }

  .gambar_brb {
    height: 200px;
    width: 100px;
  }
